.mainHeading{
  margin-top: 45px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 35px;
}
.flagIcon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tooltipText{
  margin-bottom: 5px;
  font-size: 15px;
}
